<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9.2" targetFramework="net461" />
  <package id="HttpToSocks5Proxy" version="1.0.5" targetFramework="net461" />
  <package id="MTProtoProxy" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="net461" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="net461" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="net461" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="net461" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="net461" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net461" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net461" />
  <package id="Telegram.Bot" version="14.6.0" targetFramework="net461" />
  <package id="Validation" version="2.2.8" targetFramework="net461" />
  <package id="Zabbix.NET" version="1.1.1" targetFramework="net461" />
</packages>